body {
    font-family: 'Nunito', sans-serif;
    --primary-color: #FF8521;
    --secondary-color: #F68620;
}

#app {
    overflow-x: hidden;
}

h1.title>span {
    color: var(--primary-color);
}

.btn-gallery {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

#how-it-works{
    background-color: #FDFBFA;
}

@media screen and (min-width: 1100px) {
    img.bicycle {
        max-height: 550px;
    }
    #home .align-items-lg-end {
        height: 100%;
    }
}

@media screen and (min-width: 767px) {
    .fs-md-5 {
        font-size: 1.25rem!important;
    }
}