body {
    font-family: 'Nunito', sans-serif;
    --primary-color: #FF8521;
    --secondary-color: #F68620;
}

#app {
    overflow-x: hidden;
}

.active-star, h1.title>span {
    color: var(--primary-color);
}

.btn-gallery {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

footer, #how-it-works {
    background-color: #FDFBFA;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--secondary-color);
}

.bottom-section {
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (min-width: 1100px) {
    img.bicycle {
        max-height: 550px;
    }
    #home .align-items-lg-end {
        height: 100%;
    }
}

@media screen and (min-width: 767px) {
    .fs-md-5 {
        font-size: 1.25rem!important;
    }
}